:root{
    --light-colour: rgb(236, 229, 229);
    --dark-colour: rgb(37, 36, 36);
    --svg-color: rgba(201, 198, 198, 0.904);
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

svg{
    fill: var(--svg-color);
}

.screen{
    width: 350px;
    height: 700px;
    border-radius: 40px;
    border: 10px solid black;
}

.top-container{
    display: flex;
    /* padding: 5px; */
    width: 100%;
    height: 450px;
    position: relative;
    color: var(--light-colour);
    overflow: hidden;
}


.image-wrapper{
    width: 400px;
    height: 400px;
    position: relative;
    justify-self: center;
    overflow: hidden;
    border-radius: 30px 30px 0 0;
}

.now-playing{
    position: absolute;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    top: 2%;
}

.play{
    position: absolute;
    top: 40%;
    right: 35%;
}

.play svg{
    width: 100px;
}

.movie-show{
    position: absolute;
    top: 65%;
    left: 4%;
    margin: 10px 0;
}

.movie-show .showtimes{
    margin-top: 8px;
    width: 110px;
    padding: 10px;
    background-color: rgb(189, 207, 20);
    border-radius: 20px;
    color: var(--dark-colour);
    font-weight: 600;
}

.movie-show h3{
    margin: 4px 0;
}

.bottom{
    border-radius: 40px;
    border: none;
    width: 100%;
    height: 40px;
    background-color: var(--light-colour);
    position: absolute;
    bottom: -5%;
    overflow: hidden;
}

.bottom-container{
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 280px;
    margin-top: -50px;
    background-color: var(--light-colour);
    padding: 10px;
    overflow: scroll;
}

.bottom-container::-webkit-scrollbar {
    display: none;
  }
  
  .bottom-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

.selected-for-you{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 15px;
}

.trending{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.bottom-container h4{
    margin-bottom: 10px;
}

.movie{
    font-size: 12px;
}

.movie .img-wrapper{
    width: 98px;
    height: 150px;
    border-radius: 8px;
    overflow: hidden;
}